.movie-main {
    background-size: cover;
    border-bottom: solid gray 3px;
}

.movie-container {
    width: 60%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(50, 50, 50, 0.6);
    color: white;
    border-radius: 12px;
    border: rgba(50, 50, 50, 0.3) solid 2px;
    overflow: hidden;
}

.movie-poster {
    border-radius: 10px;
    height: auto;
    width: 100%;
    max-width: 500px;
    min-width: 200px;
}

.movie-info {
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

.card:hover .card-img-overlay {
    opacity: 1;
}

.card .card-img-overlay {
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(52, 58, 64, 0.8);
}

.card p.description.card-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.aboutUs .nav-link{
    color:  #343c44;
}
.aboutUs .nav-link:hover{
    color: #343c44;
    cursor: pointer;

}
.aboutUs .nav-tabs {
    color: #343c44;
    height: 50px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.aboutUs .tmdbLogo img{
    padding: 5px;
    width: 200px;
}
.aboutUs a:link{
    text-decoration: none; 
    color: black;
}
.aboutUs a:visited{
    text-decoration: none;
    color: black;
}
.aboutUs h1{
    text-align: center;
    padding: 5px;
}
.aboutUs h3{
    text-align: center;
    padding: 5px;
}
.aboutUs p{
    line-height: 1.5;
}

